.card {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
  .description {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.5;
    }
    p {
      font-size: 16px;
      color: green;
      margin-bottom: 10px;
    }
    button {
      padding: 10px 20px;
      border: 1px solid #dedede;
      border-radius: 20px;
      font-weight: 500;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background-color: gray;
        color: white;
        transition: 0.3s;
      }
    }
  }
}
.counter {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    padding: 4px 8px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }

  span {
    font-weight: bold;
  }
}
